.action{
    display: inline-flex;
    align-items: center;
    color: #FFF;
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    margin-right: 30px;
    transition: 0.5s;
}
.action::before{
    content: "";
    background-color: #F2668B;
    width: 10px;
    height: 10px;
    margin-right: 10px;
}
.action:hover{
    opacity: 0.8;
}