.button {
    display: inline-block;
    background-color: #F2668B;
    padding: 18px 20px;
    box-shadow: 5px 5px 0 #000;
    margin-right: 0;
    transition: 0.5s;
    font-size: 20px;
    color: #fff;
    text-decoration: none;
}
.button:hover{
    color: rgb(201, 201, 201);
    background: #B34B67;
}
